
debug{
    border: 2px solid rgb(97, 90, 90);
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.header-top{
    width: 100%;
    background-color: black;
    padding-left: 90%;
}
.jumbo{
   background-image: url(./img/jumbo-bg.png);
    padding: 17em 60em 8em 2em;
    width: 100%;
    margin-top: 100px;  
}

h6{
    margin-top: 3%;
    color: grey;
}
/*.wrapper{
    padding-left:30%;
    width: 40%;
}
.wrapper-text{
    width: 50%;
   margin-top:30px;
}
.row{
    /*align-items: center;*/

.takes-two{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    padding: 8em 60em 8em 4em;   
}
.nuove-uscite{
background-color: rgba(8, 8, 8, 0.897);
}
.playstation-plus{
    background-color:grey;
    padding: 8em 60em 8em 4em; 
}
.playstation-now{
    background-color: rgba(5, 4, 70, 0.897);
    padding: 18em 8em 8em 5em;  
}
/*.rowtext-white my-6{
    line-height: 20px;
}*/
.pplus-text{
    color: white;
    line-height:8em;
    margin-top:6em;
    padding:8px 10px 8px 4px; 
}
.p-text{
    width: 40%;
    color: white;
    line-height:8em;
    margin-top:6em;
    padding:8px 10px 8px 4px;
}
.p-img{
   margin-left:28em;
   margin-top: -35em;
   margin-bottom: -8em;   
}

footer{
   background-color:rgb(25, 65, 247);
    width: 100%;
    padding-top: 20px;  
}
.row-footer{
    margin-left:70%;  
    color: white; 
    margin-top:4em;
    padding-top: 20px;
    width: 30%;
}

.text{
    font-size:1em;
    padding-top: 2em;
}